* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: Roboto;
  box-sizing: border-box;
  color: #fffbf2;
}

input,
button {
  outline: none;
  border: none;
  background-color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

a {
  transition: color 0.2s;
}

a:hover {
  text-shadow: 2px 3px 3px #fffbf2;
  transition: all 0.2s ease;
}

a:not(:hover) {
  transition: all 0.5s ease;
}
